.sectionContainer {
    padding-top: 4rem;
    padding-bottom: 5.5rem;

    @media screen and (max-width: 991px) {
        padding-top: 75px;
        padding-bottom: 75px;
    }

    @media screen and (max-width: 767px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .innerContainer {
        background-color: rgba(240, 177, 15, 0.07);
        max-width: 50rem;
        margin: 3.75rem auto 6.25rem;
        padding: 5.5rem 6.5rem;
        border-radius: 30px;
        text-align: center;

        @media screen and (max-width: 991px) {
            padding-right: 134px;
            padding-left: 134px;
        }

        @media screen and (max-width: 767px) {
            padding: 48px;
        }

        h2 {
            margin-bottom: 2rem;
            font-family: 'Gt super text', sans-serif;
            color: #22252d;
            font-size: 2.625rem;
            line-height: 3.3125rem;
            font-weight: 700;

            @media screen and (max-width: 767px) {
                font-family: 'Gt america standard', sans-serif;
                font-size: 18px;
                line-height: 26px;
                font-weight: 400;
            }
        }

        a {

            @media screen and (max-width: 767px) {
                padding-right: 23px;
                padding-left: 23px;
            }

            button {
                transition: 350ms;
                color: #fff;
                text-decoration: none;
                align-items: center;
                border-radius: 4px;
                padding: 1rem 2rem;
                background-color: rgba(6, 39, 249, 0.9);
                border: none;
                text-align: center;
                white-space: nowrap;
                cursor: pointer;

                &:hover {
                    transform: scale(.93);
                    background-color: #0627f9;
                }
            }
        }
    }
}
