.sectionContainer {

    .innerContainer {
        width: 100%;
        max-width: 1200px;
        margin-right: auto;
        margin-left: auto;
        padding-right: 15px;
        padding-left: 15px;

        .heroContent {
            display: flex;
            height: 530px;
            align-items: center;

            .content {
                width: 55%;
                margin-left: 0;
                height: 100%;
                margin-right: 5%;
                padding-top: 60px;
                padding-bottom: 60px;
                flex-direction: column;
                justify-content: center;

                h1 {
                    margin-top: 20px;
                    margin-bottom: 30px;
                    font-family: 'Gt super display', sans-serif;
                    color: #22252d;
                    font-size: 62px;
                    line-height: 60px;
                    font-weight: 700;

                }

                p {
                    font-family: 'Gt america standard', sans-serif;
                    color: rgba(34, 37, 45, .7);
                    font-size: 18px;
                    line-height: 26.5px;
                    font-weight: 400;
                    margin-top: 0;
                    margin-bottom: 50px;

                }

                a {
                    margin-top: 20px;
                    margin-bottom: 40px;
                    white-space: nowrap;
                    padding: 16px 32px;
                    border-radius: 4px;
                    background-color: rgba(6, 39, 249, .9);
                    transition: 350ms;
                    font-family: 'Gt america standard', sans-serif;
                    color: #fff;
                    font-size: 20px;
                    line-height: 28.5px;
                    font-weight: 400;
                    text-decoration: none;
                    white-space: nowrap;
                }
            }

            .heroImage {
                position: absolute;
                top: 107px;
                right: 0;
                height: 530px;
                max-height: 100%;
                max-width: 40%;

                img {
                    display: block;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}