.sectionContainer {
    padding-top: 4rem;

    @media screen and (max-width: 991px) {
        padding-top: 75px;
        padding-bottom: 75px;
    }

    @media screen and (max-width: 767px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .innerContainer {
        width: 100%;
        max-width: 75rem;
        padding-left: 0.9375rem;
        padding-right: 0.9375rem;
        margin: 0 auto;

        @media screen and (max-width: 991px) {
            padding-top: 70px;
            padding-bottom: 70px;
        }

        @media screen and (max-width: 767px) {
            padding-top: 20px;
            padding-bottom: 20px;
        }

        h1 {
            text-align: center;
            margin-top: 1.25rem;
            margin-bottom: 1.875rem;
            font-family: 'Gt super display', sans-serif;
            color: #22252d;
            font-size: 3.875rem;
            line-height: 3.75rem;
            font-weight: 700;

            @media screen and (max-width: 991px) {
                padding-right: 0;
                padding-left: 0;
                font-size: 52px;
                line-height: 56px;
            }

            @media screen and (max-width: 767px) {
                margin-bottom: 20px;
                font-size: 35px;
                line-height: 42px;
            }
        }

        .pageContent {
            margin-top: 60px;
            padding-right: 15%;
            padding-left: 15%;

            @media screen and (max-width: 991px) {
                padding-right: 0;
                padding-left: 0;
            }

            @media screen and (max-width: 767px) {
                margin-top: 40px;
            }

            p {
                color: rgba(0, 0, 0, .6);
                margin-top: 0;
                margin-bottom: 0.625rem;

                a {
                    color: #0627f9;
                }
            }
        }
    }
}
