.sectionContainer {
    padding: 6.25rem 0;

    @media screen and (max-width: 767px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .innerContainer {
        background-color: rgba(240, 177, 15, 0.07);
        max-width: 50rem;
        margin: 60px auto 0;
        padding: 5.5rem 6.5rem;
        border-radius: 30px;
        text-align: center;

        @media screen and (max-width: 767px) {
            padding: 48px;
        }

        @media screen and (max-width: 991px) {
            padding-top: 134px;
            padding-bottom: 134px;
        }

        h2 {
            max-width: 40rem;
            margin: 0 auto;
            font-family: 'Gt super display', sans-serif;
            color: #22252d;
            font-size: 2.625rem;
            line-height: 3.3125rem;
            font-weight: 700;
            text-align: center;

            @media screen and (max-width: 479px) {
                font-size: 32px;
                line-height: 1.25;
            }
        }

        a {

            @media screen and (max-width: 767px) {
                padding-right: 23px;
                padding-left: 23px;
            }

            button {
                transition: 350ms;
                color: #fff;
                text-decoration: none;
                align-items: center;
                border-radius: 4px;
                padding: 1rem 2rem;
                background-color: rgba(6, 39, 249, 0.9);
                border: none;
                text-align: center;
                white-space: nowrap;
                cursor: pointer;

                &:hover {
                    transform: scale(.93);
                    background-color: #0627f9;
                }
            }
        }
    }
}