.sectionContainer {
    padding-top: 4rem;
    padding-bottom: 5.5rem;
    background-color: #f8f8f8;

    .innerContainer {
        width: 100%;
        max-width: 75rem;
        margin-right: auto;
        margin-left: auto;
        padding-right: 0.9375rem;
        padding-left: 0.9375rem;
        color: rgba(0, 0, 0, .6);

        h2 {
            max-width: 40rem;
            margin-right: auto;
            margin-bottom: 0;
            margin-left: auto;
            font-family: 'Gt super display', sans-serif;
            color: #22252d;
            font-size: 2.625rem;
            line-height: 3.3125rem;
            font-weight: 700;
            text-align: center;
        }

        p {
            max-width: 37.5rem;
            margin-bottom: 1.25rem;
            margin-right: auto;
            margin-top: 0;
            margin-left: auto;
            text-align: center;
            color: rgba(0, 0, 0, .6);
        }

        .rebates {
            display: grid;
            max-width: 800px;
            margin-top: 60px;
            margin-right: auto;
            margin-left: auto;
            grid-auto-columns: 1fr;
            grid-column-gap: 16px;
            grid-row-gap: 16px;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto;

            .rebate {
                padding: 30px;
                border: 1px solid rgba(0, 0, 0, .17);
                border-radius: 20px;
                background-color: #fff;

                h3 {
                    margin-top: 20px;
                    margin-bottom: 10px;
                    font-family: 'Gt super display', sans-serif;
                    color: #22252d;
                    font-size: 24px;
                    line-height: 30px;
                    font-weight: 700;
                }

                p {
                    margin-top: 0;
                    margin-bottom: 10px;
                    color: rgba(0, 0, 0, .6);
                    text-align: left;
                }

                ul {
                    margin-top: 0;
                    margin-bottom: 10px;
                    padding-left: 40px;
                    color: rgba(0, 0, 0, .6);

                    li {}
                }
            }
        }
    }
}