@font-face {
  font-family: 'Gt america standard';
  src: url('../fonts/GT-America-Standard-Regular.woff2') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Gt super display';
  src: url('../fonts/GT-Super-Display-Bold.woff2') format('truetype');
  font-display: swap;
}

html {
  font-size: 16px;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Gt america standard', sans-serif;
  font-size: 1.25rem;
  line-height: 1.78125rem;
  font-weight: 400;
}

* {
  box-sizing: border-box;
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  scroll-behavior: smooth;
}

h1, h2, h3 {
  font-family: 'Gt super display', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

img {
  width: auto;
  height: auto;
}
